<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clothecommerceapp">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClothEcommerceApp">

        <activity android:name="com.example.clothecommerceapp.view.HomeActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.clothecommerceapp.view.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.PlaceOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.accountcreation.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.accountcreation.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.MyCartBagActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.AddProductActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.clothecommerceapp.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>